body
{
    margin: 0;
}
.header
{
    position:fixed;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    left: 0;
    right:0;
    top: 0;
}

.header img
{
    height: 30px;
    width: 30px;
}

.header_content
{
    font-size: 30px;
    padding-top: 21px;
    padding-bottom: 21px;
}

.adress
{
    margin-left: 137px;
    text-decoration: none;
}

.link
{
    width: 99px;
    height: 28px;
    left: 171px;
    top: 21px;
    margin-left: 7px;
    font-family: Sofia;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    flex-grow: 1;
    
}
.link a
{
    text-decoration: none;
    color: #000;
}

.adress img
{   
    padding-top: 7px;
}

.basket 
{
    min-width: 27px;
    width: 27px;
    height: 30px;
    background-image: url(Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #892AC2;
}


.item 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: 42px;

}

.item:last-child
{
    padding-right: 122px;
}

.item a
{
    text-decoration: none;
    color: #000;
}

.section
{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 150px;
    margin-left: 135px;
}

.section span
{
    font-family: Roboto;
    font-size: 36px;
}

.filter {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    margin-left: 16px;
}

.burger-lines
{
    width: 30px;
    height: 3px;
    background-color: #892AC2;
    margin-bottom: 5px;
}


.burger-lines:nth-child(2) {
    width: 20px;
}

.burger-lines:nth-child(3) {
   width: 10px;
}

.container
{
    font-family: Roboto;    
    margin: 58px 135px 40px 135px;
    padding-bottom: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-column-gap: 73px;
    grid-row-gap: 52px;
}
.product
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.photo-product,
.price,
.more,
.basket-product
{
    margin-bottom: 9px;
}

.product button
{
    height: 30px;
    width: 150px;
}

.more
{
    background: #fff;
    border: 1px solid #892AC2;
    border-radius: 8px;
    cursor: pointer;
}

.basket-product
{
    background: #892AC2;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 0;
}
.footer
{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #892AC2;
}

.footer a
{
    color: #fff;
}

.footer-logo-text
{
    flex-grow:  1;
}

.creator
{
    font-family: Roboto;
    font-weight: 400;
    height: 18px;
    color: #fff;
    margin-right: 200px;
}
